# Project exclude paths
/target/
Test Results - All_in_voice_full_tests.html
Test Results - All_in_voice_full_tests_v2.html
Test Results - All_in_voice_tests_final.html
Test Results - All_in_voice_tests_final_v2.html